<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="subdivision">
        <classes>
            <class name="sberoad.tests.CatalogSubdivision" />
        </classes>
    </test>

    <test name="archive">
        <classes>
            <class name="sberoad.tests.CatalogArchive" />
        </classes>
    </test>

    <test name="businessUnit">
        <classes>
            <class name="sberoad.tests.CatalogBuisnessUnit" />
        </classes>
    </test>

    <test name="findDocumentHelper">
        <classes>
            <class name="sberoad.tests.FindDocumentHelper" />
        </classes>
    </test>

    <test name="dailyBinding">
        <classes>
            <class name="sberoad.tests.DailyBinding" />
        </classes>
    </test>

    <test name="RegistryAS1">
        <classes>
            <class name="sberoad.tests.RegistryTests.RegistryAS1" />
        </classes>
    </test>

    <test name="RegistryAS2">
        <classes>
            <class name="sberoad.tests.RegistryTests.RegistryAS2" />
        </classes>
    </test>


</suite>

