<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="test1">
    <classes>
        <class name="sberoad.tests.TEMLTests.TransportunitAS9" />
    </classes>
</test>

    <test name="test2">
        <classes>
            <class name="sberoad.tests.RegistryTests.Registry" />
        </classes>
    </test>

    <test name="test3">
        <classes>
            <class name="sberoad.tests.RegistryTests.RegistryAS4" />
        </classes>
    </test>

    <test name="result">
        <classes>
            <class name="sberoad.Main" />
        </classes>
    </test>


</suite>

